/*@import "styling.css";*/



body.el-rte-structure table, 
body.el-rte-structure caption,
body.el-rte-structure td, 
body.el-rte-structure th, 
body.el-rte-structure p, 
body.el-rte-structure div,
body.el-rte-structure blockquote
{ border:1px dotted #99ccff; }

body.el-rte-structure a[name] {
	display:inline-block;
	vertical-align:baseline;
	width:12px; 
	height:12px; 
	border:1px dotted #ccc;
	background: url('../images/elrte-toolbar.png') -564px -8px no-repeat;
}

.elrte-swf-placeholder {
	border:1px solid #ccc;
}

.elrtebm {
/*	height:15px;
	width:2px;
	border:1px solid #000;*/
}

