/*@import "styling.css";*/



body.el-rte-structure table, 
body.el-rte-structure caption,
body.el-rte-structure td, 
body.el-rte-structure th, 
body.el-rte-structure p, 
body.el-rte-structure div,
body.el-rte-structure blockquote
{ border:1px dotted #99ccff; }

body.el-rte-structure a[name] {
	display:inline-block;
	vertical-align:baseline;
	width:12px; 
	height:12px; 
	border:1px dotted #ccc;
	background: url('../images/elrte-toolbar.png') -564px -8px no-repeat;
}
img { cursor: default; }

img.elrte-webkit-hl { border:1px dashed #777; }

.elrtebm {
/*	height:15px;
	width:2px;
	border:1px solid #000;*/
}

.elrte-media-x-shockwave-flash,
.elrte-media-quicktime,
.elrte-media-x-director,
.elrte-media-x-mplayer2,
.elrte-media-x-pn-realaudio-plugin,
.elrte-media-youtube,
.elrte-media-rutube,
.elrte-media-vimeo,
.elrte-yandex-maps,
.elrte-google-maps,
.elrte-media {
	border:1px solid #ccc;
	background:#eee url(../images/media-flash.png) center center no-repeat;
}
.elrte-media-x-shockwave-flash {
	background-image:url(../images/media-flash.png);
}
.elrte-media-youtube {
	background-image:url(../images/media-youtube.png);
}
.elrte-media-vimeo {
	background-image:url(../images/media-vimeo.png);
}
.elrte-media-rutube {
	background-image:url(../images/media-rutube.png);
}
.elrte-media-quicktime {
	background-image:url(../images/media-quicktime.png);
}
.elrte-media-x-director {
	background-image:url(../images/media-director.png);
}
.elrte-media-x-mplayer2 {
	background-image:url(../images/media-winmedia.png);
}
.elrte-media-x-pn-realaudio-plugin {
	background-image:url(../images/media-realaudio.png);
}
.elrte-yandex-maps {
	background-image:url(../images/yandex-maps.png);
}
.elrte-google-maps {
	background-image:url(../images/google-maps.png);
}
