/* elRTE tollbar buttons styles */

/* default button */
.elrte-btn {
	margin: 0 2px 0 0;
	padding: 0;
	float:left;
	cursor:default;
	position:relative;
}

/* button's inner container */
.elrte-btn-inner {
	width:20px;
	height:20px;
	margin:0;
	padding:0;
	overflow:hidden;
	background-image:url(../images/elrte-toolbar.png);
	background-position: 0 0;
	background-repeat:no-repeat;
}



/* panel document */

/* panel edit */
.elrte-btn-selectall       .elrte-btn-inner { background-position:-60px 0; }
.elrte-btn-removeformat    .elrte-btn-inner { background-position:-80px 0; }
.elrte-btn-pastetext       .elrte-btn-inner { background-position:-160px 0; }
.elrte-btn-pasteformattext .elrte-btn-inner { background-position:-180px 0; }

/* panel style */
.elrte-btn-bold      .elrte-btn-inner { background-position:-200px 0; }
.elrte-btn-italic    .elrte-btn-inner { background-position:-220px 0; }
.elrte-btn-underline .elrte-btn-inner { background-position:-240px 0; }
.elrte-btn-strike    .elrte-btn-inner { background-position:-260px 0; }
.elrte-btn-sup       .elrte-btn-inner { background-position:-300px 0; }
.elrte-btn-sub       .elrte-btn-inner { background-position:-280px 0; }

/* panel semantic */
.elrte-btn-ins .elrte-btn-inner { background-position:-320px 0; }
.elrte-btn-del .elrte-btn-inner { background-position:-340px 0; }
.elrte-btn-abbr .elrte-btn-inner { background-position:-360px 0; }
.elrte-btn-cite .elrte-btn-inner { background-position:-380px 0; }
/*.elrte-ui-blockquote { background-position:-400px 0; }*/

/* panel direction */
.elrte-btn-dirltr .elrte-btn-inner { background-position:-420px 0; }
.elrte-btn-dirrtl .elrte-btn-inner { background-position:-440px 0; }

/* panel indent */
.elrte-btn-outdent .elrte-btn-inner { background-position:-460px 0; }
.elrte-btn-indent .elrte-btn-inner { background-position:-480px 0; }

/* panel font */
.elrte-btn-formatblock .elrte-btn-inner { background-position:-520px -20px; }
.elrte-btn-fontsize .elrte-btn-inner { background-position:-540px -20px; }
.elrte-btn-fontfamily .elrte-btn-inner { background-position:-560px -20px; }
.elrte-btn-fontstyle .elrte-btn-inner { background-position:-580px -20px; }
.elrte-btn-textcolor .elrte-btn-inner { background-position:-660px 0 }
.elrte-btn-textbg .elrte-btn-inner { background-position:-680px 0 }


/* panel lists */
.elrte-btn-ul .elrte-btn-inner { background-position:-500px 0; }
.elrte-btn-ol .elrte-btn-inner { background-position:-520px 0; }


/* panel alignment */
.elrte-btn-alignleft .elrte-btn-inner { background-position:-540px 0; }
.elrte-btn-aligncenter .elrte-btn-inner { background-position:-560px 0; }
.elrte-btn-alignright .elrte-btn-inner { background-position:-580px 0; }
.elrte-btn-alignjustify .elrte-btn-inner { background-position:-600px 0; }


/* panel history */
.elrte-btn-undo .elrte-btn-inner { background-position:-620px 0; }
.elrte-btn-redo .elrte-btn-inner { background-position:-640px 0; }

/* panel links */
.elrte-btn-anchor .elrte-btn-inner { background-position:0 -20px; }
.elrte-btn-link .elrte-btn-inner { background-position:-20px -20px; }
.elrte-btn-unlink .elrte-btn-inner { background-position:-40px -20px; }

/* panel misc */
.elrte-btn-nbsp .elrte-btn-inner { background-position:-60px -20px; }
.elrte-btn-stopfloat .elrte-btn-inner { background-position:-80px -20px; }
.elrte-btn-hr .elrte-btn-inner { background-position:-120px -20px; }
.elrte-btn-pagebreak .elrte-btn-inner { background-position:-600px -20px; }
.elrte-btn-blockquote .elrte-btn-inner { background-position:-400px 0; }
.elrte-btn-div .elrte-btn-inner { background-position:-440px -20px; }
.elrte-btn-specialchars .elrte-btn-inner { background-position:-480px -20px; }

/* panel table */
.elrte-btn-table  .elrte-btn-inner{ background-position:-200px -20px; }

/* panel control */
.elrte-btn-docstructure .elrte-btn-inner { background-position:-620px -20px; }
.elrte-btn-source       .elrte-btn-inner { background-position:-640px -20px; }
.elrte-btn-fullscreen   .elrte-btn-inner { background-position:-660px -20px; }



/* menu button inner container */
.elrte-btn-menu .elrte-btn-inner {
	float:left;
	background-color:#fff;
}

/* menu button with text inner container */
.elrte-btn-menu-labeled .elrte-btn-inner {
	width:90px;
	background:#fff;
	white-space:nowrap;
	line-height:20px;
	font-size:.76em;
	padding-left: 5px;
}

/* arrow on menu button right side */
.elrte .elrte-btn-menu-control {
	float:right;
	height:20px;
	width:10px;
	border-top:0 solid;
	border-right:0 solid;
	border-bottom:0 solid;
	background-image:url(../images/elrte-toolbar.png);
	background-position:-778px -22px;
	background-repeat:no-repeat;
}

/* button's menu */
.elrte-btn-menu .elrte-widget-menu {
	position:absolute;
	top:20px;
	z-index:100;
	width:auto;
}


