/******************************************************/
/*                   COMMON STUFFS                    */
/******************************************************/


/* ellipsis text (in tabs) */
.elrte-ellipsis {
/*	-moz-binding:url("ellipsisxul.xml");*/
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
}


/* style to detect images url */
.elrte-test-url { background-image:url(../images/pixel.gif);}

/* cross-browser inline-block */
.elrte-ib {
/*	display: -moz-inline-stack;*/
/*	display: inline-block;*/
/*	zoom: 1;*/
/*	*display: inline;*/
	float:right;
}
/* resizable helper */
.ui-resizable-helper { border: 2px dotted #555; }

/******************************************************/
/*                  EDITOR LAYOUT                     */
/******************************************************/

/* common editor container */
.elrte {
/*	font-family: trebuchet ms, tahoma, sans-serif;*/
	padding:3px;
}

/* fullscreen editor */
.elrte-fullscreen {
	position:absolute;
	left:0;
	top:0;
	width:99%;
	margin:0;
}

/* editor content container */
.elrte-container { 
	position:relative;
	margin:3px 0;
/*	border:1px solid #111;*/
}

/* tabs and workzone container */
.elrte-main { padding:3px; }
/* when open sidebar add margin to main */
.elrte-main-sidebar-left  { margin-left:105px; }
.elrte-main-sidebar-right { margin-right:105px; }

/* viewport - contains documents */
.elrte-viewport {
/*	height:300px;*/
/*	border:1px solid red;*/
}

/* container for iframe and textarea */
.elrte-document { }

/* editor (iframe) */
.elrte iframe {
	width: 100%;
	background-color:#fff;
/*	height: 300px;*/
}

/* document source (textarea) */
.elrte textarea {
	width: 100%;
	height:100%;
/*	height:300px;*/
	background-color:#000;
	color:#fff;
	font: .82em/1.2em 'monaco', 'andale mono', 'lucida console', monospace; 
	border:0 solid;
}

