body {
/*	padding:0;*/
	margin:5px;
/*	background:red;*/
}

body.elrte-structure table, 
body.elrte-structure caption,
body.elrte-structure td, 
body.elrte-structure th, 
body.elrte-structure p, 
body.elrte-structure div,
body.elrte-structure blockquote
{ border:1px dotted #99ccff; }

body.elrte-structure .elrte-anchor {
	display:inline-block;
	vertical-align:baseline;
	width:12px; 
	height:12px; 
	border:1px dotted #ccc;
	background: url('../images/elrte-toolbar.png') -564px -8px no-repeat;
}

.elrtebm {
	border:1px solid #222;
	width:2px;
	height:12px;
	background:#ccc;
/*	display:none;*/
}

.elrte-highlight {
	background-color:#eee;
	border:1px solid #ccc;
}

.elrte-media-x-shockwave-flash,
.elrte-media-quicktime,
.elrte-media-youtube,
.elrte-media-rutube,
.elrte-media-vimeo,
.elrte-yandex-maps,
.elrte-google-maps {
	border:1px solid #ccc;
	background:#eee url(../images/media-flash.png) center center no-repeat;
}

.elrte-media-x-shockwave-flash {
	background-image:url(../images/media-flash.png);
}
.elrte-media-youtube {
	background-image:url(../images/media-youtube.png);
}
.elrte-media-vimeo {
	background-image:url(../images/media-vimeo.png);
}
.elrte-media-rutube {
	background-image:url(../images/media-rutube.png);
}
.elrte-media-quicktime {
	background-image:url(../images/media-quicktime.png);
}
.elrte-yandex-maps {
	background-image:url(../images/yandex-maps.png);
}
.elrte-google-maps {
	background-image:url(../images/google-maps.png);
}
