/* reset */
.elrte,
.elrte div, 
.elrte span,
.elrte ul, 
.elrte li, 
.elrte iframe, 
.elrte textarea {
	margin: 0; 
	padding: 0;
	font: inherit;
	font-weight: normal;
	text-align: left;
	vertical-align: baseline;
	border: 0 solid;
	outline: none;
	color: #000;
/*	background: transparent;*/
}

.elrte ul { list-style: none; background: transparent;}

/******************  common stuffs  *********************/

/* cross-browser inline-block */
.elrte .elrte-ib,
.elrte .elrte-toolbar ul,
.elrte .elrte-toolbar li {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.elrte-rnd-3 {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
/* style to detect images url */
.elrte .elrte-test-url { background-image:url(../images/pixel.gif);}

/******************  editor  *********************/

.elrte {
/*	position:absolute;*/
	padding: 3px;
	margin: 3px 0;
	font:98% normal tahoma, Trebuchet ms, tahoma, sans-serif;
	border: 1px solid #aaa;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color: #fff;
}

.elrte-fullscreen {
	position:absolute;
	left:0;
	top:0;
	width:99%;
	margin:0;
}

/******************  workzone/documents  *********************/

.elrte .elrte-workzone {
	border: 1px solid #ccc;
	height: 300px;
	overflow: hidden;
/*	background:#eee;*/
}

/* document container */
.elrte .elrte-document { }

/* editor (iframe) */
.elrte .elrte-editor {
	width: 100%;
	background-color:#fff;
	height: 300px;
}

/* document source (textarea) */
.elrte .elrte-source {
	width: 100%;
	height:100%;
	background-color:#000;
	color:#fff;
	font: .82em/1.2em 'monaco', 'andale mono', 'lucida console', monospace; 
}

/******************  tabs  *********************/

.elrte .elrte-tabsbar-wrapper {
	overflow:hidden;
}
.elrte .elrte-tabsbar {
	width:3000px;
}

/* common tabs style */
.elrte .elrte-doc-tab,
.elrte .elrte-toggle-tab {
	border: 1px solid #ccc;
	margin: 0 3px 0 0;
	max-width:200px;
	font-size: 78%;
	background-color:#f2f2f2;
	cursor: default;
	position:relative;
	white-space:nowrap;
}
/* active tab */
.elrte .elrte-tab-active { background-color:#fff; }

/* documents tabs */
.elrte .elrte-doc-tab {
	padding: 2px 20px 2px 9px;
	border-bottom:0 solid;
	-moz-border-radius-topleft: 3px; 
	-moz-border-radius-topright: 3px; 
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px; 
	-webkit-background-clip: padding-box;
	border-top-left-radius: 3px; 
	border-top-right-radius: 3px;
}

.elrte .elrte-doc-tab-title {
	overflow:hidden;
	color:#555;
}

/* close button */
.elrte .elrte-doc-tab-close {
	position:absolute;
	top:4px;
	right:4px;
	width:11px;
	height:11px;
	background:url(../images/close.png) 0 0 no-repeat;
}

/* editor/source toggle tabs */
.elrte .elrte-toggle-tab { 
	padding: 2px 19px;
	font-weight: bold;
	color:#555;
	border-top: 0 solid;
	-moz-border-radius-bottomleft: 3px; 
	-moz-border-radius-bottomright: 3px; 
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px; 
	-webkit-background-clip: padding-box;
	border-bottom-left-radius: 3px; 
	border-bottom-right-radius: 3px;
}

/******************  toolbar  *********************/

.elrte .elrte-toolbar {
	padding: 2px;
	margin-bottom: 3px;
	border: 1px solid #ccc;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-background-clip: padding-box;
	border-radius:3px;
	background: #eee;
}

.elrte .elrte-toolbar-panel { 
	padding: 2px 0px 2px 7px; 
	background:url(../images/elrte-toolbar.png) -780px 0 no-repeat;
}
.elrte .elrte-toolbar-panel-first {
	padding-left:0;
	background:transparent;
}

.elrte .elrte-ui {
	width:  20px;
	height: 20px;
	margin: 0 2px 0 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-background-clip: padding-box;
	background:url(../images/elrte-toolbar.png) 0 0 no-repeat;
}

/* panel document */

/* panel edit */
.elrte .elrte-ui-selectall { background-position:-60px 0; }
.elrte .elrte-ui-removeformat { background-position:-80px 0; }

/* panel style */
.elrte .elrte-ui-bold { background-position:-200px 0; }
.elrte .elrte-ui-italic { background-position:-220px 0; }
.elrte .elrte-ui-underline { background-position:-240px 0; }
.elrte .elrte-ui-strike { background-position:-260px 0; }
.elrte .elrte-ui-sup { background-position:-280px 0; }
.elrte .elrte-ui-sub { background-position:-300px 0; }

/* panel semantic */
.elrte .elrte-ui-ins { background-position:-320px 0; }
.elrte .elrte-ui-del { background-position:-340px 0; }
.elrte .elrte-ui-abbr { background-position:-360px 0; }
.elrte .elrte-ui-cite { background-position:-380px 0; }
/*.elrte .elrte-ui-blockquote { background-position:-400px 0; }*/

/* panel direction */
.elrte .elrte-ui-ltr { background-position:-420px 0; }
.elrte .elrte-ui-rtl { background-position:-440px 0; }

/* panel indent */
.elrte .elrte-ui-outdent { background-position:-460px 0; }
.elrte .elrte-ui-indent { background-position:-480px 0; }


/* panel lists */
.elrte .elrte-ui-ul { background-position:-500px 0; }
.elrte .elrte-ui-ol { background-position:-520px 0; }


/* panel alignment */
.elrte .elrte-ui-left { background-position:-540px 0; }
.elrte .elrte-ui-center { background-position:-560px 0; }
.elrte .elrte-ui-right { background-position:-580px 0; }
.elrte .elrte-ui-justify { background-position:-600px 0; }


/* panel history */
.elrte .elrte-ui-undo { background-position:-620px 0; }
.elrte .elrte-ui-redo { background-position:-640px 0; }

/* panel links */
.elrte .elrte-ui-anchor { background-position:0 -20px; }

/* panel misc */
.elrte .elrte-ui-nbsp { background-position:-60px -20px; }
.elrte .elrte-ui-stopfloat { background-position:-80px -20px; }
.elrte .elrte-ui-hr { background-position:-100px -20px; }
.elrte .elrte-ui-pagebreak { background-position:-600px -20px; }

/* panel control */
.elrte .elrte-ui-docstructure { background-position:-620px -20px; }
.elrte .elrte-ui-source { background-position:-640px -20px; }
.elrte .elrte-ui-fullscreen { background-position:-660px -20px; }

/* WIDGETS */
/* menu */
.elrte .elrte-ui-menu {
	width: 120px;
/*	overflow:hidden;*/
	background:#fff;
	cursor:default;
	position:relative;
}

.elrte .elrte-ui-menu-label {
	width:102px;
	height:20px;
	font-size:12px;
	line-height:20px;
	margin:0;
	padding:0 0 0 5px;
	overflow:hidden;
	float:left;
}

.elrte .elrte-ui-menu-control {
	float:right;
	height:20px;
	width:12px;
	border-left:1px solid #ccc;
	-moz-border-radius-bottomright: 3px; 
	-webkit-border-bottom-right-radius: 3px; 
	-moz-border-radius-topright: 3px; 
	-webkit-border-top-right-radius: 3px;
	-webkit-background-clip: padding-box;
	background:#eee url(../images/elrte-toolbar.png) -777px -22px no-repeat;
}

.elrte .elrte-ui-hover .elrte-ui-menu-control {
	background-color:#f5f5f5;
/*	border-color:#555;*/
}

.elrte .elrte-ui-menu-container {
	position:absolute;
	top:20px;
	min-width:120px;
	max-height:250px;
	border:1px solid #ccc;
	background:#fff;
	overflow:auto;
	z-index:10000;
}

.elrte .elrte-ui-menu-item,
.elrte .elrte-ui-menu-title,
.elrte .elrte-ui-menu-header {
	white-space: nowrap;
	font-size:.9em;
	padding:3px 22px 3px 9px;
	border-top:1px solid #eee;
}

.elrte .elrte-ui-menu-container .elrte-ui-menu-item:first-child { border-top:0 solid; }

.elrte .elrte-ui-menu-item * {
	padding:0;
	margin: 0;
}


.elrte .elrte-ui-menu-header {
	background-color:#eee;
	font-weight:bold;
}

.elrte .elrte-ui-menu-item.elrte-ui-hover {
	border-color: #fff;
	background-color:#c3dbef;
}

.elrte .elrte-ui-menu-item.elrte-ui-active {
	border-color: #fff;
	background-color:#c3dbef;
}







/* ui states */
.elrte .elrte-ui-hover    { border-color:#999; }
.elrte .elrte-ui-active   { background-color:#ccc; border-color:#fff; }
.elrte .elrte-ui-disabled { opacity:alpha(0.3); opacity: 0.3; filter:Alpha(Opacity=30); }

/******************  statusbar  *********************/

.elrte .elrte-statusbar {
	height: 22px;
	clear: both;
	margin-top: 5px;
	padding: 0 12px;
	font:76%/20px 'monaco', 'andale mono', 'lucida console', monospace;
	color:#555;
	border: 1px solid #ccc;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-background-clip: padding-box;
	background: #eee;
}

/****************************************************/
/***                   PLUGINS                    ***/
/****************************************************/

/* path */
.elrte .elrte-statusbar-path span { cursor:pointer; }

/* wordcount */
.elrte .elrte-statusbar-wordcount { float:right; font-size:x-small; }
/* autosave */
.elrte .elrte-statusbar-autosave { 
	position:absolute;
	left:45%;
	padding-right:30px;
	font-size:x-small; 
	background:url(../images/spinner.gif) right center no-repeat; 
}

.elrte .blue { color: blue;}
.elrte .red { color: red;}



/* jqueryUI fixes */
.ui-widget { font-family: Verdana,Arial,sans-serif; font-size: .86em; }
.ui-dialog { position: relative; padding: 0; width: 300px; }
.ui-dialog .ui-dialog-titlebar {  padding:.3em .3em .3em .5em;  position: relative; -moz-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0; border-style:none none solid; }
.ui-dialog .ui-dialog-content { border: 0 solid; padding: .5em; margin:0; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { padding:.1em 1em; }
/*.ui-tabs { padding: 0; zoom: 1; }
.ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: .2em .2em 0; -moz-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0; border-style:none none solid; }
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: .2em 1em; }
.ui-tabs .ui-tabs-panel { padding: 1em 1.2em; display: block; border-width: 0; background: none; }

*/

