/* reset and common classes */

.elrte div, 
.elrte ul, 
.elrte li, 
.elrte iframe, 
.elrte textarea,
.elrte .active,
.elrte .disabled {
	margin: 0; 
	padding: 0;
	font: inherit;
	font-weight: normal;
	text-align: left;
	vertical-align: baseline;
	border: 0 solid;
	outline: none;
	color: #000;
	background: transparent;
}

.elrte ul { list-style: none; }

.elrte .inline-block {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}

.elrte .active { background:#eee; }

.elrte .disabled { opacity:alpha(0.3); opacity: 0.3; filter:Alpha(Opacity=30); }

/******************  editor  *********************/

.elrte {
	padding: 3px;
	margin: 3px 0;
	font:98% normal Trebuchet ms, tahoma, sans-serif;
	border: 1px solid #aaa;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background: #fff;
}

.elrte.fullscreen {
	position: absolute;
	width: 99%;
	height: 100%;
	left: 0;
	top: 0;
}

/******************  toolbar  *********************/

.elrte .elrte-toolbar {
	padding: 2px;
	margin-bottom: 3px;
	border: 1px solid #ccc;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background: #eee;
}

.elrte .elrte-toolbar-panel {
	padding: 2px 0px 2px 0;
/*	border: 1px solid #ccc;*/
}

.elrte .elrte-button {
	width:  22px;
	height: 22px;
	margin: 0 2px 0 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background:url(../images/elrte-toolbar.png) 0 0 no-repeat;
}

.elrte .elrte-toolbar-sep {
	width:  9px;
	height: 22px;
	background: url(../images/elrte-toolbar.png) 0 0 no-repeat;
}

.elrte .elrte-button.active {
	background-color:#ccc;
	border-color:#fff;
}

.elrte .elrte-button.hover {
	border-color:#999;
}

.elrte .fullscreen {
	background-position: -10px 0;
}
.elrte .fullscreen.active {
	background-position: -10px -22px;
}

.elrte .bold   { background-position: -32px 0; }
.elrte .italic { background-position: -32px -22px; }

/******************  documents tabs  *********************/

.elrte .elrte-tabsbar { border-bottom: 1px solid #ccc; }

.elrte .elrte-tab {
	border: 1px solid #ccc;
	padding: 2px 19px;
	margin: 0 3px 0 0;
	font-size: 78%;
	font-weight: bold;
	color:#777;
	cursor: default;
}

.elrte .elrte-tab.active { color:#444; }

.elrte .elrte-tabsbar .elrte-tab {
	border-bottom: 0 solid;
	-moz-border-radius-topleft: 3px; 
	-moz-border-radius-topright: 3px; 
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px; 
	border-top-left-radius: 3px; 
	border-top-right-radius: 3px;
}

/******************  workzone  *********************/
.elrte .elrte-workzone {
	border: 1px solid #ccc;
	height: 300px;
	overflow: hidden;
}

/* document wrapper */
.elrte .elrte-document { }

/* editor (iframe) */
.elrte .elrte-editor {
	width: 100%;
	height: 300px;
}

/* document source */
.elrte .elrte-source {
	width: 100%;
	font: .82em/1.2em 'monaco', 'andale mono', 'lucida console', monospace; 
}

/******************  editor/source tabs  *********************/

.elrte .elrte-togglebar .elrte-tab { 
	border-top: 0 solid;
	-moz-border-radius-bottomleft: 3px; 
	-moz-border-radius-bottomright: 3px; 
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px; 
	border-bottom-left-radius: 3px; 
	border-bottom-right-radius: 3px;
}


/******************  status  *********************/

.elrte .elrte-statusbar {
	margin-top: 7px;
	padding: 0 12px;
	clear: both;
	height: 22px;
	background: #eee;
	border: 1px solid #ccc;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	font:76%/20px 'monaco', 'andale mono', 'lucida console', monospace;
/*	font-weight:bold;*/
	color:#555;
}

.elrte .elrte-statusbar span { cursor:pointer; }



/* COLORS */
.elrte.cupertino {
	border-color:#b2c7d7;
}

.elrte.cupertino .elrte-workzone,
.elrte.cupertino .elrte-tab {
	border-color: #aaa;
}

.elrte.cupertino .elrte-tab {
	background: #e6e6e6;
}

.elrte.cupertino .elrte-tab.active {
	background: #99c2ff;
	border-color: #2694e8;
}

/* default color scheme */
/*.elrte {
	border-color:#ccc;
}
.elrte .elrte-workzone {
	border-color:#aaa;
}
.elrte .elrte-tabsbar-tab,
.elrte .elrte-togglebar-tab {
	background:#eee;
	border-color:#eee;
	color:#777;
}
.elrte .elrte-tabsbar-tab.active,
.elrte .elrte-togglebar-tab.active {
	background:#fff;
	color:#444;
}
.elrte .elrte-toolbar, 
.elrte .elrte-statusbar {
	background:#eee;
}
*/
/* cupertino color scheme */
/*.elrte.cupertino {
	border-color:#b2c7d7;
}
.elrte.cupertino .elrte-workzone {
	border-color:#aaa;
}
.elrte.cupertino .elrte-tabsbar-tab,
.elrte.cupertino .elrte-togglebar-tab {
	background:#e6e6e6;
	border-color:#aaa;
	color:#777;
}
.elrte.cupertino .elrte-tabsbar-tab.active,
.elrte.cupertino .elrte-togglebar-tab.active {
	background:#99c2ff;
	border-color:#2694e8;
	color:#444;
}

.elrte.cupertino .elrte-toolbar,
.elrte.cupertino .elrte-statusbar {
	background:#e6e6e6;
}

*/

