/******************************************************/
/*                         RESET                      */
/******************************************************/
span { border-color:#333; }

.elrte,
.elrte div, 
.elrte span,
.elrte ul, 
.elrte li, 
.elrte iframe, 
.elrte textarea {
	margin: 0; 
	padding: 0;
	font: 1em verdana, arial, sans-serif;
	font-weight: normal;
	text-align: left;
	vertical-align: baseline;
	border: 0 solid;
	outline: 0 solid;
	color: #000;
/*	background: transparent;*/
}

.elrte ul { list-style: none; background: transparent; }

.elrte .elrte-hover   {  }
.elrte .elrte-active  {  }
.elrte .elrte-disable { opacity:alpha(0.3); opacity: 0.3; filter:Alpha(Opacity=30); }

/* jqueryUI fixes */
.ui-widget { font-family: Verdana,Arial,sans-serif; font-size: .82em; }
.ui-dialog .ui-dialog-titlebar {  padding:.3em .3em .3em .5em;    }
.ui-dialog .ui-dialog-content { padding:.5em; }
.ui-dialog .ui-dialog-buttonpane { padding:.1em 1em; }
.ui-dialog  table { border:0 solid;  }
.ui-dialog  table td { padding:2px; vertical-align:top; }

/******************************************************/
/*                   COMMON STUFFS                    */
/******************************************************/

/* cross-browser inline-block */
.elrte-ib,
.elrte-toolbar-panel,
.elrte-btn-wrp,
.elrte-tab,
.elrte .elrte-widget-grid .elrte-widget-menu-item,
.elrte .elrte-widget-color-item

	{
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

/* rounded elements */
.elrte-rnd,
.elrte-container,
.elrte-toolbar,
.elrte-btn-wrp,
.elrte-btn-menu,
.elrte-btn-menu-label,
.elrte .elrte-widget-menu,
.elrte .elrte-widget-grid .elrte-widget-menu-item,
.elrte .elrte-widget-color-button,
.elrte .elrte-widget-color-palette,
.elrte-dialog-color-highlight,
.elrte-dialog-color input
 {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-background-clip: padding-box;
}

.elrte .elrte-rnd-top {
	
}

.elrte .elrte-rnd-bottom {
	
}

/* style to detect images url */
.elrte .elrte-test-url { background-image:url(../images/pixel.gif);}

.elrte .elrte-widget-header {
	background-color:#eee;
	padding:2px 5px;
	font: .7em verdana, arial,sans-serif;
	font-weight:bold;
	-moz-border-radius-topleft: 3px; 
	-moz-border-radius-topright: 3px; 
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px; 
	-webkit-background-clip: padding-box;
	border-top-left-radius: 3px; 
	border-top-right-radius: 3px;
	border-bottom:1px solid #ccc;
}

/* close icon */
.elrte .elrte-close {
	width:11px;
	height:11px;
	background:url(../images/close.png) 0 0 no-repeat;
}

/******************************************************/
/*                  EDITOR LAYOUT                     */
/******************************************************/

/* common editor container */
.elrte {
	padding: 3px;
	margin: 3px;
	font: 98% normal tahoma, Trebuchet ms, tahoma, sans-serif;
	border: 1px solid #aaa;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-background-clip: padding-box;
	background-color: #fff;
}

/* editor content container */
.elrte .elrte-container { }

/* sidebar container */
.elrte .elrte-sidebar {
	border :1px solid #aaa;
	width:170px;
	float:left;
	display:none;
	position:relative;
	overflow:auto;
	-moz-border-radius-topleft: 3px; 
	-moz-border-radius-topright: 3px; 
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px; 
	-webkit-background-clip: padding-box;
	border-top-left-radius: 3px; 
	border-top-right-radius: 3px;
}

/* tabs and workzone container */
.elrte .elrte-main { }

.elrte .elrte-show-sidebar .elrte-main {
	margin-left:175px;
}

/******************************************************/
/*                      TOOLBAR                       */
/******************************************************/

/* toolbar */
.elrte .elrte-toolbar {
	margin-bottom: 3px;
	border: 1px solid #ccc;
	background: #eee;
}

/* toolbar panel */
.elrte .elrte-toolbar-panel { 
	padding: 2px 0px 2px 7px; 
	background:url(../images/elrte-toolbar.png) -780px 0 no-repeat;
}

/* first panel */
.elrte .elrte-toolbar-panel:first-child {
	padding-left:0;
	background:transparent;
}

/* button container */
.elrte .elrte-btn-wrp {
	margin: 0 2px 0 0;
	border: 1px solid #ccc;
	cursor:default;
	position:relative;
}

.elrte .elrte-btn-wrp.elrte-hover {
	background-color:#f5f5f5;
	border-color:#aaa;
}

.elrte .elrte-btn-wrp.elrte-active {
	background-color:#ccc;
	border-color:#fff;
}

.elrte .elrte-btn-wrp.elrte-active.elrte-hover {
	border-color:#aaa;
}

/* button */
.elrte .elrte-btn {
	width:20px;
	height:20px;
	background:transparent url(../images/elrte-toolbar.png) 0 0 no-repeat;
	overflow:hidden;
}

/* menu button */
.elrte .elrte-btn-menu {
	width:auto;
	min-width:32px;
	max-width:120px;
	background-color:#fff;
}

/* arrow on menu button right side */
.elrte .elrte-btn-menu-control {
	float:right;
	height:20px;
	width:10px;
	border-left:1px solid #ccc;
	-moz-border-radius-bottomright: 3px; 
	-webkit-border-bottom-right-radius: 3px; 
	-moz-border-radius-topright: 3px; 
	-webkit-border-top-right-radius: 3px;
	background:#eee url(../images/elrte-toolbar.png) -778px -22px no-repeat;
}

.elrte .elrte-hover .elrte-btn-menu-control {
	background-color:#f5f5f5;
}

.elrte  .elrte-btn-menu-control.elrte-hover {
	background-color:#ddd;
}

/* text on menu button */
.elrte .elrte-btn-menu-label {
	width:90px;
	float:left;
	font-size:12px;
	line-height:20px;
	padding: 0 5px;
	overflow:hidden;
	background:#fff;
}

.elrte .elrte-btn-color-ind {
	position:absolute;
	left:3px;
	bottom:1px;
	width:15px;
	height:3px;
}

/******************************************************/
/*                      BUTTONS                       */
/******************************************************/

/* panel document */

/* panel edit */
.elrte .elrte-btn-selectall { background-position:-60px 0; }
.elrte .elrte-btn-removeformat { background-position:-80px 0; }
.elrte .elrte-btn-pastetext { background-position:-160px 0; }
.elrte .elrte-btn-pasteformattext { background-position:-180px 0; }

/* panel style */
.elrte .elrte-btn-bold { background-position:-200px 0; }
.elrte .elrte-btn-italic { background-position:-220px 0; }
.elrte .elrte-btn-underline { background-position:-240px 0; }
.elrte .elrte-btn-strike { background-position:-260px 0; }
.elrte .elrte-btn-sup { background-position:-280px 0; }
.elrte .elrte-btn-sub { background-position:-300px 0; }

/* panel semantic */
.elrte .elrte-btn-ins { background-position:-320px 0; }
.elrte .elrte-btn-del { background-position:-340px 0; }
.elrte .elrte-btn-abbr { background-position:-360px 0; }
.elrte .elrte-btn-cite { background-position:-380px 0; }
/*.elrte .elrte-ui-blockquote { background-position:-400px 0; }*/

/* panel direction */
.elrte .elrte-btn-dirltr { background-position:-420px 0; }
.elrte .elrte-btn-dirrtl { background-position:-440px 0; }

/* panel indent */
.elrte .elrte-btn-outdent { background-position:-460px 0; }
.elrte .elrte-btn-indent { background-position:-480px 0; }

/* panel font */
.elrte .elrte-btn-formatblock { background-position:-520px -20px; }
.elrte .elrte-btn-fontsize { background-position:-540px -20px; }
.elrte .elrte-btn-fontfamily { background-position:-560px -20px; }
.elrte .elrte-btn-fontstyle { background-position:-580px -20px; }
.elrte .elrte-btn-textcolor { background-position:-660px 0 }


/* panel lists */
.elrte .elrte-btn-ul { background-position:-500px 0; }
.elrte .elrte-btn-ol { background-position:-520px 0; }


/* panel alignment */
.elrte .elrte-btn-alignleft { background-position:-540px 0; }
.elrte .elrte-btn-aligncenter { background-position:-560px 0; }
.elrte .elrte-btn-alignright { background-position:-580px 0; }
.elrte .elrte-btn-alignjustify { background-position:-600px 0; }


/* panel history */
.elrte .elrte-btn-undo { background-position:-620px 0; }
.elrte .elrte-btn-redo { background-position:-640px 0; }

/* panel links */
.elrte .elrte-btn-anchor { background-position:0 -20px; }
.elrte .elrte-btn-link { background-position:-20px -20px; }
.elrte .elrte-btn-unlink { background-position:-40px -20px; }

/* panel misc */
.elrte .elrte-btn-nbsp { background-position:-60px -20px; }
.elrte .elrte-btn-stopfloat { background-position:-80px -20px; }
.elrte .elrte-btn-hr { background-position:-120px -20px; }
.elrte .elrte-btn-pagebreak { background-position:-600px -20px; }
.elrte .elrte-btn-blockquote { background-position:-400px 0; }
.elrte .elrte-btn-div { background-position:-440px -20px; }
.elrte .elrte-btn-specialchars { background-position:-480px -20px; }

/* panel table */
.elrte .elrte-btn-table { background-position:-200px -20px; }

/* panel control */
.elrte .elrte-btn-docstructure { background-position:-620px -20px; }
.elrte .elrte-btn-source { background-position:-640px -20px; }
.elrte .elrte-btn-fullscreen { background-position:-660px -20px; }

/******************************************************/
/*                      SIDEBAR                       */
/******************************************************/
.elrte .elrte-sidebar-inner { }

.elrte .elrte-sidebar-close {
	position:absolute;
	top:4px;
	right:4px;
	width:11px;
	height:11px;
	background:url(../images/close.png) 0 0 no-repeat;
}

/******************************************************/
/*                        TABS                        */
/******************************************************/

/* top tabs wrapper */
.elrte .elrte-tabsbar-top-wrp {
	overflow:hidden;
	position:relative;
}

/* top tabsbar */
.elrte .elrte-tabsbar-top {
	padding:0 3px;
	width:3000px;
}

/* tab */
.elrte .elrte-tab {
	max-width:200px;
	margin: 0 2px 0 0;
	font-size: 78%;
	background-color:#f2f2f2;
	cursor: default;
	position:relative;
	border: 1px solid #aaa;
	border-bottom:0 solid;
}

/* top tabs rounded on top */
.elrte .elrte-tabsbar-top .elrte-tab {
	-moz-border-radius-topleft: 3px; 
	-moz-border-radius-topright: 3px; 
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px; 
	-webkit-background-clip: padding-box;
	border-top-left-radius: 3px; 
	border-top-right-radius: 3px;
}

/* bottom tabs rounded on bottom */
.elrte .elrte-tabsbar-bottom .elrte-tab {
	-moz-border-radius-bottomleft: 3px; 
	-moz-border-radius-bottomright: 3px; 
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px; 
	-webkit-background-clip: padding-box;
	border-bottom-left-radius: 3px; 
	border-bottom-right-radius: 3px;
}

/* text in tab */
.elrte .elrte-tab-title {
	margin:2px 22px 2px 7px;
	overflow:hidden;
	color:#555;
	white-space:nowrap;
}

/* tab close button */
.elrte .elrte-tab-close {
	position:absolute;
	top:4px;
	right:4px;
	width:11px;
	height:11px;
	background:url(../images/close.png) 0 0 no-repeat;
}
/* active tab */
.elrte .elrte-tab-active { background-color:#fff;  }

/******************************************************/
/*                     WORKZONE                       */
/******************************************************/

/* workzone - contains documents */
.elrte .elrte-workzone {
	border:1px solid #aaa;
	height:300px;
}

/* container for iframe and textarea */
.elrte-document { }

/* editor (iframe) */
.elrte .elrte-editor {
	width: 100%;
	background-color:#fff;
	height: 300px;
}

/* document source (textarea) */
.elrte .elrte-source {
	width: 100%;
	height:100%;
	background-color:#000;
	color:#fff;
	font: .82em/1.2em 'monaco', 'andale mono', 'lucida console', monospace; 
}

/******************************************************/
/*                     STATUSBAR                      */
/******************************************************/
.elrte .elrte-statusbar {
	height: 22px;
	clear: both;
	margin-top: 5px;
	padding: 0 12px;
	font:76%/20px 'monaco', 'andale mono', 'lucida console', monospace;
	color:#555;
	border: 1px solid #ccc;
	background: #eee;
}

/******************************************************/
/*                       WIDGETS                      */
/******************************************************/
/* menu widget */
.elrte .elrte-widget-menu {
	position:absolute;
	top:20px;
	width:auto;
	min-width:120px;
	max-height:370px;
	border:1px solid #ccc;
	background:#fff;
	overflow:auto;
	z-index:10000;
}

.elrte .elrte-widget-menu-inner {
	-moz-border-radius-bottomleft: 3px; 
	-moz-border-radius-bottomright: 3px; 
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px; 
	-webkit-background-clip: padding-box;
	border-bottom-left-radius: 3px; 
	border-bottom-right-radius: 3px;
}

.elrte .elrte-widget-menu-item {
	white-space: nowrap;
	font-size:.86em;
	padding:2px 32px 2px 9px;
	border-bottom:1px solid #eee;
}

.elrte .elrte-widget-menu-item:first-child { 
	border-top:0 solid; 
}

.elrte .elrte-widget-menu-item.elrte-hover,
.elrte .elrte-widget-menu-item.elrte-active {
	border-color: #fff;
	background-color:#c3dbef;
}

/* grid menu */
.elrte .elrte-widget-grid { }

.elrte .elrte-widget-grid .elrte-widget-menu-inner {
	padding:3px 1px 2px 2px;
	background-color:#f5f5f5;
	min-width:212px;
}

.elrte .elrte-widget-grid .elrte-widget-menu-item {
	width:16px;
	height:16px;
	padding:0 1px 2px 1px;
	margin: 0 0 1px 1px;
	text-align:center;
	font-size:12px;
	background-color:#fff;
	border:1px solid #ccc;
}

.elrte .elrte-widget-grid .elrte-widget-menu-item.elrte-hover {
	background-color:#c3dbef;
}

/* color */

.elrte .elrte-widget-color {
	
}

.elrte .elrte-widget-color-button {
	margin:1px;
	padding:1px 4px;
	background-color:#eee;
	font-size:.7em;
	text-align:center;
	border:1px solid #ccc;
}

.elrte .elrte-widget-color-button.elrte-hover {
	background-color:#ccc;
}

.elrte .elrte-widget-color-ind {
	width:10px;
	height:10px;
	outline:1px solid #aaa;
	float:left;
	margin-top:3px;
}

.elrte .elrte-widget-color-palette {
	width:128px;
	margin:1px;
	padding:1px;
	border:1px solid #ccc;
}

.elrte .elrte-widget-color-item {
	width:12px;
	height:12px;
	margin:2px;
}

.elrte .elrte-widget-color-item[name $='ffffff'] { outline:1px solid #eee; }

/******************************************************/
/*                      DIALOGS                       */
/******************************************************/

.elrte-dialog-color {
	
}

.elrte-dialog-color table td { padding:0; }

.elrte-dialog-color table td:first-child {
	border-right:1px solid #ccc;
	padding-right:9px;
}

.elrte-dialog-color table td:last-child {
	padding-left:9px;
}

.elrte-dialog-color-palette-wrp {
	border:1px solid #aaa;
	clear:both;
}

.elrte-dialog-color-palette {
	width:90px;
	padding:0;
	margin:0;
	float:left;
}

.elrte-dialog-color-item {
	width:15px;
	height:15px;
	float:left;
}

.elrte-dialog-color-highlight {
	width:70px;
	height:39px;
	margin-bottom:5px;
	border:1px solid #aaa;
}

.elrte-dialog-color input {
	width:70px;
	padding:0;
	outline:0 solid;
	border:1px solid #aaa;
	font-size:12px;
}

/******************************************************/
/*                      PLUGINS                       */
/******************************************************/

/* path */
.elrte .elrte-statusbar-path span { cursor:pointer; }

/* wordcount */
.elrte .elrte-statusbar-wordcount { float:right; font-size:x-small; }
/* autosave */
.elrte .elrte-statusbar-autosave { 
	position:absolute;
	left:45%;
	padding-right:30px;
	font-size:x-small; 
	background:url(../images/spinner.gif) right center no-repeat; 
}
