body {
/*	padding:0;*/
	margin:5px;
/*	direction:rtl;*/
/*	background-color:#cccccc;*/
}

body img, body hr { cursor: default; }

body.elrte-structure table, 
body.elrte-structure caption,
body.elrte-structure td, 
body.elrte-structure th, 
body.elrte-structure p, 
body.elrte-structure div,
body.elrte-structure blockquote
{ outline:1px dotted #99ccff; }

body.elrte-structure .elrte-anchor {
	display:inline-block;
	vertical-align:baseline;
	width:20px; 
	height:20px; 
	outline:1px dotted #ccc;
	background: url('../images/elrte-toolbar.png') 0 -20px no-repeat;
}

.elrtebm {
	border:1px solid #222;
	width:2px;
	height:12px;
	background:#ccc;
/*	margin:0 2px;*/
/*	display:none;*/
}

.elrte-highlight {
	background-color:#eee;
	outline:1px solid #ccc;
}

.elrte-media-x-shockwave-flash,
.elrte-media-quicktime,
.elrte-media-x-director,
.elrte-media-x-mplayer2,
.elrte-media-x-pn-realaudio-plugin,
.elrte-media-youtube,
.elrte-media-rutube,
.elrte-media-vimeo,
.elrte-yandex-maps,
.elrte-google-maps,
.elrte-media {
	border:1px solid #ccc;
	background:#eee url(../images/media-flash.png) center center no-repeat;
}
.elrte-media-x-shockwave-flash {
	background-image:url(../images/media-flash.png);
}
.elrte-media-youtube {
	background-image:url(../images/media-youtube.png);
}
.elrte-media-vimeo {
	background-image:url(../images/media-vimeo.png);
}
.elrte-media-rutube {
	background-image:url(../images/media-rutube.png);
}
.elrte-media-quicktime {
	background-image:url(../images/media-quicktime.png);
}
.elrte-media-x-director {
	background-image:url(../images/media-director.png);
}
.elrte-media-x-mplayer2 {
	background-image:url(../images/media-winmedia.png);
}
.elrte-media-x-pn-realaudio-plugin {
	background-image:url(../images/media-realaudio.png);
}
.elrte-yandex-maps {
	background-image:url(../images/yandex-maps.png);
}
.elrte-google-maps {
	background-image:url(../images/google-maps.png);
}

.elrte-pagebreak {
	display:block;
	width:100%;
	height:9px;
	outline:1px dotted #ccc;
}

.blue { color:blue; }
.red { color:red; }
.marker { background-color:yellow;}
.list { list-style: none;}
.imgleft { float:left; margin:7px; }
.mylist { list-style:square; }
.mytable { width:50%; border:1px solid red; }
.mytable td { background:#eee; }
