/* statusbar */
.elrte-statusbar {
	color:#555;
}

/* statusbar inner container */
.elrte-statusbar-inner {
	font:.72em 'monaco', 'andale mono', 'lucida console', monospace;
	padding:.3em;
}

.elrte-statusbar-inner-left {
	float:left;
	padding-left:.5em;
}

.elrte-statusbar-inner-right {
	float:right;
	text-align:right;
	padding-right:.5em;
}

.elrte-rtl .elrte-statusbar-inner-left { float:right; }
.elrte-rtl .elrte-statusbar-inner-right { float: left;}


.elrte-statusbar-inner-center {
	text-align:center;
}

.elrte-pl-path * { float:left; }
.elrte-pl-path-el {cursor: pointer;}
.elrte-pl-path-sep { margin:0 .5em; }
.elrte-rtl .elrte-pl-path * { float:right; }

