/* editor tabs panel - same node as ui-tabs-nav */
.elrte .elrte-tabsbar {
	padding-top:.1em;
}

/* tab */
/*.ui-tabs .ui-tabs-nav li.elrte-tab*/
.elrte-tabsbar li.elrte-tab {
	padding:0 17px;
	margin-right:.1em;
	cursor:default;
}

/* text container in tab */
.elrte-tabsbar li.elrte-tab span {
	float:left;
	min-width:95px;
	max-width:130px;
	overflow:hidden;
	white-space:nowrap;
	font-size:.78em;
	padding:3px 0;
	text-align:center;
}

/* close document icon */
.elrte-tab .ui-icon {
	position:absolute;
	top:4px;
	left:.1em;
}

/* back/fwd buttons container */
.elrte-tabsbar li.elrte-tabs-btns {
	float:none;
	position:absolute;
	top:.4em;
	right:.2em;
/*	z-index:1000;*/
}

/* back/fwd button */
.elrte-tabs-btn {
	float:left;
	padding:2px 0;
}


