/* elRTE documents tabsbar styles */

/* top tabs wrapper */
.elrte-tabsbar {
	overflow:hidden;
}

/* top tabsbar */
.elrte-tabsbar-tabspanel {
	padding:0;
	overflow:hidden;
	height:20px;
}

/* back/fwd buttons container */
.elrte-tabsbar-nav {
	width:22px;
	height:18px;
	float:right;
}
/* button */
.elrte-tabsbar-btn {
	width:9px;
	height:16px;
	border:1px solid #ccc;
	background:transparent url(../images/elrte-toolbar.png) 0 0 no-repeat;
}
/* back button */
.elrte-tabsbar-btn-back {
	background-position:-700px -3px;
}
/* forward button */
.elrte-tabsbar-btn-fwd {
	border-left:1px solid #ccc;
	background-position:-709px -3px;
}

/* tab */
.elrte-tab {
	max-width:200px;
	min-width:100px;
	width:auto;
/*	width:200px;*/
	height:20px;
	margin: 0 2px 0 0;
	font-size: 78%;
	background-color:#f2f2f2;
	cursor: default;
	position:relative;
	border: 1px solid #aaa;
	border-bottom:0 solid;
}
/* active tab */
.elrte-tab.elrte-active { background-color:#fff;  }

/* text in tab */
.elrte-tab-title {
	margin:2px 22px 2px 7px;
	overflow:hidden;
	color:#555;
	white-space:nowrap;
}

/* tab close button */
.elrte-tab .elrte-close {
	position:absolute;
	top:4px;
	right:4px;
	width:11px;
	height:11px;
	background:url(../images/close.png) 0 0 no-repeat;
}
