/* editor tabs panel - same node as ui-tabs-nav */
.elrte-tabsbar {

}

/* tab */
.elrte-tabsbar li.elrte-tab {
	padding:0 17px;
	margin-right:.1em;
	cursor:default;
}

.elrte-rtl .ui-tabs .ui-tabs-nav li { float:right; }

.elrte-rtl .ui-tabs .ui-tabs-nav { padding-right:.7em; }

/* text container in tab */
.elrte-tabsbar li.elrte-tab span {
	float:left;
	min-width:95px;
	max-width:130px;
	overflow:hidden;
	white-space:nowrap;
	font-size:.78em;
	padding:3px 0;
	text-align:center;
}

/* close document icon */
.elrte-tab .ui-icon {
	position:absolute;
	top:4px;
}

.elrte-ltr .elrte-tab .ui-icon { left:1px; }
.elrte-rtl .elrte-tab .ui-icon { right:1px; }

/* back/fwd buttons container */
.elrte-tabsbar li.elrte-tabs-btns {
	float:none;
	position:absolute;
	top:.4em;
}

.elrte-ltr .elrte-tabsbar li.elrte-tabs-btns { right:.2em; }

.elrte-rtl .elrte-tabsbar li.elrte-tabs-btns { left:.2em; }

/* back/fwd button */
.elrte-tabs-btn {
	float:left;
	padding:2px 0;
}
/*.elrte-ltr .elrte-tabs-btn { float:left; }*/
/*.elrte-rtl .elrte-tabs-btn { float:right; }*/

