/* elRTE buttons toolbar style */

/* toolbar */
.elrte .elrte-toolbar {
	padding:0 .3em;

}

/* toolbar panel */
.elrte .elrte-toolbar-panel { 
/*	border:1px solid #111;*/
	padding: 2px 0px 2px 7px; 
	background:url(../images/elrte-toolbar.png) -780px 0 no-repeat;
	float:left;
}

/* first toolbar panel */
.elrte .elrte-toolbar-panel:first-child {
	padding-left:0;
	background:transparent;
}
