/**********************************************************/
/*             MENU WIDGET based on ui-menu               */
/**********************************************************/
.elrte-menu { position:absolute; z-index:1; }

/* menu header */
.elrte-menu .ui-widget-header {
	font-size:.8em;
	padding:0 .4em;
	margin-bottom:2px;
	white-space:nowrap;
}

/* menu item */
.elrte-menu .ui-menu-item a {
	white-space:nowrap;
	font-size:.8em;
	padding:.1em .1em;
	font-weight:normal;
}
/* remove margin/padding inside menu item */
.elrte-menu .ui-menu-item a * {
	padding:0;
	margin:0;
}

/* fix highlighted item margin */
.elrte-menu .ui-menu-item a.ui-state-highlight {
	margin:-1px;
}

/**********************************************************/
/*         GRID MENU WIDGET based on ui-menu              */
/**********************************************************/
.elrte-menu-grid .ui-menu-item { width: auto; clear:none; }

.elrte-menu-grid .ui-menu-item a { text-align:center; margin:1px; }

.elrte-menu-grid .ui-menu-item a.ui-state-highlight,
.elrte-menu-grid .ui-menu-item a.ui-state-hover { margin:1px; }


/**********************************************************/
/*                       COLOR MENU                       */
/**********************************************************/
.elrte-menu-color, .elrte-menu-color-palete { padding:2px; }

/* one color inside palette */
.elrte-menu-color a {
	float:left;
	width:14px;
	height:14px;
	margin:2px;
}

/* "open dialog" button */
.elrte-menu-color .elrte-menu-color-button {
	position:relative;
	padding:0;
	text-align:center;
	font-size:.8em;
}
/* "Automatic" panel */
.elrte-menu-color-auto {
	position:absolute;
	width:14px;
	height:14px;
	top:50%;
	left:3px;
	margin-top:-7px;
}

/**********************************************************/
/*                        DIALOG                          */
/**********************************************************/

.elrte-dialog { font-size:.8em; }

.elrte-dialog .ui-dialog-content { padding:.5em .2em; }

.elrte-dialog .ui-button-text-only .ui-button-text { padding:.2em .5em; }

.elrte-dialog .ui-tabs-panel { padding:.5em 0; }

/**********************************************************/
/*                     TABLE IN DIALOG                    */
/**********************************************************/
.elrte-dialog-table { width:100%; }

.elrte-dialog-table td { padding:.2em; overflow:hidden; }

/**********************************************************/
/*                   COLOR DIALOG                         */
/**********************************************************/
/*.elrte-dialog-color { }*/

.elrte-dialog-color-palete { width:288px; margin:0 auto; }

.elrte-dialog-color-palete-column { float:left; width:96px; }
/* one color in palete */
.elrte-dialog-color-palete a {
	float:left;
	width:16px;
	height:16px;
	outline:0 solid;
}
/* panel with color info */
.elrte-dialog-color-info { width:288px; margin:.2em auto 0 auto; }
/* text field to input color value */
.elrte-dialog-color-info input { padding:0; outline:0 solid; }

.elrte-dialog-color-selected,
.elrte-dialog-color-hilighted {
	width:42px;
	height:1.2em;
	float:right;
	margin-left:.1em;
}

/**********************************************************/
/*                  MULTISELECT WIDGET                    */
/**********************************************************/
.elrtemselect { position:relative; }
/* add scroll */
.elrtemselect-fixed {
	overflow-x:hidden;
	overflow-y:auto;
}

.elrtemselect-list-item label { 
	width:100%; 
	display:block;
}

.elrtemselect-list .elrtemselect-list-item.ui-state-hover {
	margin:-1px;
	font-weight:normal;
}


.elrtemselect-input-container { 
	position:relative; 
	padding:.2em; 
	display:none;
}

.elrtemselect-input { width: 99%; margin:0; }

.elrtemselect-button-add { 
	display:block; 
	zoom:1;
	position:relative;
	text-decoration:none; 
	padding-left:24px;
	padding:3px 2px 3px 24px;
	cursor:pointer;
}

.elrtemselect .elrtemselect-button-cancel { 
	right:.5em; 
	margin-top:-8px;
	cursor:pointer; 
	border:0 solid;
	background:transparent;
}

.elrtemselect .elrtemselect-button-add-icon,
.elrtemselect .elrtemselect-button-cancel {
	width: 17px;
	height:17px;
	position:absolute;
	top:50%;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}

.elrtemselect-button-add-icon { left:.2em; margin-top:-10px; }



.elrte-contextmenu {
	
}